<nav class="bottomnav">

  <ul class="bottom-menu">
    <li>
      <a routerLink="/">
        <i class="bi bi-house-door-fill"></i>
        <span>الرئيسية</span>
      </a>
    </li>

    <li>
      <a routerLink="/search">
        <i class="bi bi-search-heart"></i>
        <span>عن المزادات</span>
      </a>
    </li>

    <li>
      <a routerLink="/add">
        <i class="bi bi-gear-fill"></i>
        <span>الخدمات</span>
      </a>
    </li>

    <li>
      <a routerLink="/chat">
        <i class="bi bi-question-circle-fill"></i>
        <span>الأسئلة الشائعة</span>
      </a>
    </li>

    <li>
      <a routerLink="/notifications">
        <i class="bi bi-universal-access-circle"></i>
        <span>أدوات الاتاحة</span>
      </a>
    </li>

    <li>
      <a routerLink="/profile">
        <i class="bi bi-envelope-fill"></i>
        <span>تواصل معنا</span>
      </a>
    </li>
  </ul>

  <div class="bottom-info">
    <div class="bottom-rights">© جميع الحقوق محفوظة</div>
    <div class="bottom-title">لوحة التحكم</div>
  </div>

</nav>
