.topnav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1100;
  direction: rtl;
  background-color: #fff;
}

.topnav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-side {
  display: flex;
  align-items: center;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 16px; 
}

.burger-btn {
  background: #323232;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 853px) {
  .burger-btn {
    display: none;
  }
}

.notification-btn {
  position: relative;
  font-size: 1.5rem;
  color: #495057;
}

.notification-dot {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #dc3545;
  border-radius: 50%;
  border: 1px solid #fff;
}

.lang {
  font-size: 1rem;
  color: #6c757d;
}

.user-info {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #212529;
}

.user-info i {
  font-size: 1.5rem;
  margin-left: 6px;
}
