<nav class="topnav navbar navbar-expand-lg bg-white shadow-sm py-2">
  <div class="container-fluid topnav-content">

    <div class="right-side">
      <button class="burger-btn" (click)="emitBurgerClick()">☰</button>
    </div>

    <div class="left-side">
      <button class="btn btn-link notification-btn">
        <i class="bi bi-bell-fill"></i>
        <span class="notification-dot"></span>
      </button>

      <span class="lang">عربي</span>

      <div class="user-info">
        <i class="bi bi-person-circle"></i>
        <span class="user-name">Fahad</span>
      </div>
    </div>

  </div>
</nav>
